

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(112.7570030367292deg, rgba(249, 231, 148,1) 5.736111111111111%,rgba(246, 190, 212,1) 96.29166666666666%)
}

.todo-app {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

h1 {
  text-align: center;
  font-family: 'Courier New', monospace;
}

.input-container {
  display: flex;
  margin-bottom: 10px;
}

input {
  flex-grow: 1;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: transparent;
  border: none;
  color: #070606;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

button.delete-button {
  margin-left: 5px;
  padding: 2px 5px;
  background-color: transparent;
  border: none;
  color: #f44336;
}

/* Mobile Design */
@media screen and (max-width: 600px) {
  .todo-app {
    max-width: 300px;
  }

  h1 {
    font-size: 18px;
  }

  input {
    padding: 3px;
  }

  button {
    padding: 3px 8px;
  }
}

/* Tablet Design */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .todo-app {
    max-width: 600px;
  }

  h1 {
    font-size: 24px;
  }

  input {
    padding: 8px;
  }

  button {
    padding: 8px 12px;
  }
}
